<div class="calculator">
    <div class="calculator__main">
        <div class="calculator__input">
            <input class="calculator-output__" [(ngModel)] = "current" >
        </div>
        <div class="calculator__keypad">
            <table class="calculator__keypad-table">
                <tbody>
                    <tr>
                        <td class="calculator__keypad-operation" (click)="ClearAll()" >C</td>
                        <td class="calculator__keypad-operation" (click)="Clear()">CE</td>
                        <td class="calculator__keypad-operation" (click)="Percent()">%</td>
                        <td class="calculator__keypad-operation"  (click)="DeleteLast()">&lt;=</td>
                    </tr>
                    <tr>
                        <td class="calculator__keypad-operation" (click)="OneOverX()" >1/x</td>
                        <td class="calculator__keypad-operation" (click)="Square()">x^2</td>
                        <td class="calculator__keypad-operation" (click)="Root()">&#8730;</td>
                        <td class="calculator__keypad-operation"  (click)="Divide()">/</td>
                    </tr>
                    <tr>
                        <td (click)="Enter('7')">7</td>
                        <td (click)="Enter('8')">8</td>
                        <td (click)="Enter('9')">9</td>
                        <td class="calculator__keypad-operation"  (click)="Multiply()">X</td>
                    </tr>
                    <tr>
                        <td (click)="Enter('4')">4</td>
                        <td (click)="Enter('5')">5</td>
                        <td (click)="Enter('6')">6</td>
                        <td class="calculator__keypad-operation" (click)="Subtract()">-</td>
                    </tr>
                    <tr>
                        <td (click)="Enter('1')">1</td>
                        <td (click)="Enter('2')">2</td>
                        <td (click)="Enter('3')">3</td>
                        <td class="calculator__keypad-operation" (click)="Add()">+</td>
                    </tr>
                    <tr>
                        <td (click)="InvertSign()">+/-</td>
                        <td (click)="Enter('0')">0</td>
                        <td (click)="Enter('.')">.</td>
                        <td class="calculator__keypad-operation" (click)="Calculate()">=</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="calculator__history">
        <p><span *ngIf="operation!=''" >{{accumulator}} {{operation}} {{current}}</span>&nbsp;</p>
        <div *ngFor="let entry of entries">
            {{entry.value}}
        </div>
    </div>
</div>