.calculator {
    display: flex;
}

.calculator__main {
    flex: 1 1 66.66%;
}

.calculator__history {
    @media screen and (min-width: 651px) { 
        display: initial;
        flex: 1 1 33.33%;
        text-align: right;
        margin-right: 5%;
        margin-top: 100px;
      }
    @media screen and (max-width: 650px) { 
        display: none !important;
    }
}

.calculator__input-container {
    margin: 20px 20px 0;

    .calculator__input {
        width: 100%;
        // font-size: 40px;
        font-size: 300%;
        text-align: right;
    }

    .calculator__current-trans {
        //font-size: 30px;
        font-size: 110%;
        text-align: right;
    }
}