<div class="calculator">
    <div class="calculator__main">
        <div class="calculator__input-container">
            <input class="calculator__input" [ngModel]="inputService.current" readonly />
            <p class="calculator__current-trans">
                <span *ngFor="let entry of historySvc.GetLastTransaction()">{{entry.value}}</span>
                <span
                    *ngIf='historySvc.entries.length==0 || (historySvc.GetLastEntry().constructor.name == "OperationEntry" && historySvc.GetLastEntry().value !=="")'>{{inputService.current}}</span>
                <span
                    *ngIf='historySvc.entries.length>0 && historySvc.GetLastEntry().constructor.name == "NumericEntry"'>{{inputService.operation}}</span>
                &nbsp;
            </p>
        </div>

        <basic-view *ngIf='inputService.basicIsVisible' ></basic-view>
        <advanced-view *ngIf='!inputService.basicIsVisible'></advanced-view>

    </div>
    <div class="calculator__history">
        <div *ngFor="let trans of historySvc.GetListOfTransactions().slice(0,21)">
            <span *ngFor="let entry of trans">{{entry.value}}</span>
        </div>
        <!-- <div *ngFor="let entry of historySvc.entries">
            {{entry.value}}
        </div> -->
    </div>
</div>